table{
  border-collapse:collapse;
  table-layout:fixed;
  border-radius:5px;
  overflow:hidden;
  margin: 10px auto;
  border:1px solid #70aefb ;
  background-color: #328ef4;
  color: #c7dafb;
  width: 80% !important;
}
table td,th{
    /* padding: 5px;
    width: 33%; */
    text-align: center;
    border:1px solid #70aefb ;
    vertical-align:middle;
    /* font-size: 15px; */
}

.table-color-green{
    background-color: green;

}

.table-color-grey{

    background-color:  #696969;
}

.table-color-black{

    background-color: black;
}

.jt-up-color{
    color:red;
}

.parent-position{
    position: relative;
}

.child-position{
    position: absolute;
    right: 0;
    bottom: 0;
}

.main-font{
    font-size: 23px;
}

input{
    width: 100% !important;
}
